.timeline {
    border: 1px solid #ddd;
    display: flex;
    width: 30%;
    height: 65vh;
    padding: .5rem 2rem;
    overflow-y: auto;
    &-none{
      border: 0px;
    }

    &-tracker {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      &-icon{
        height: 1rem;
        width: 1rem;
      }


      &-container{
        width: 2rem;
        height: 2rem;
        background-color: $secondary;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      hr {
        height: 80%;
        border-left: 1px dashed $primary;
      }
    }
  
    &-state {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 80%;

      &-line{
        height: .5rem;
        width: 20%;
      }

      &>*{
        margin-bottom: 1rem;
      }
      &__status {
        display: flex;
        border: 1px solid #ddd;
        font-size: 10px;
        justify-content: space-around;
        color: #aaa;
        position: relative;

        &--dash{
          position: absolute;
          top: 50%;
          left: 0;
          background-color: #00aaff;
          height: .1rem;
          width: 2.3rem;
          margin-left : -2.3rem;
        }

        &--circle{
          top: 20%;
          left: 0;
          position: absolute;
          width: 1rem;
          height: 1rem;
          background-color: #00aaff;
          border-radius: 50%;
          margin-left: -3.9rem;
        }
        &--time{
          display: flex;
          justify-content: space-between;
          &>*{
            margin-right: 1rem;
          }
        }
      }
      .status-active {
        color: $green;
        background: #f7f8ff;
      }
    }
  }

  .margin{
    &-right{
      &-one{
        margin-right: 1rem;
      }
    }
  }